{% extends "admin/base_site.html" %}
{% load i18n static jazzmin admin_urls %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} change-form yumm-admin-form-page{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
      <li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a></li>
      <li class="breadcrumb-item active">{% trans 'Change password' %}</li>
    </ol>
  {% endblock %}
{% endif %}

{% block content_title %}{% trans 'Change password' %}{% endblock %}

{% block content %}
<div id="content-main" class="col-12">
  <form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" class="yumm-admin-form">
    {% csrf_token %}
    <input type="text" name="username" value="{{ original.get_username }}" class="visually-hidden" tabindex="-1" autocomplete="username" aria-hidden="true">

    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="card">
          <div class="card-body">
            {% if form.errors %}
              <div class="alert alert-danger">
                {% if form.errors.items|length == 1 %}
                  {% trans "Please correct the error below." %}
                {% else %}
                  {% trans "Please correct the errors below." %}
                {% endif %}
              </div>
            {% endif %}

            <p class="yumm-form-intro">
              {% trans "Enter a new password for" %} <strong>{{ original }}</strong>.
            </p>

            {% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}

            <fieldset class="module aligned">
              {% include "admin/includes/yumm_form_row.html" with field=form.password1 %}
              {% include "admin/includes/yumm_form_row.html" with field=form.password2 %}
            </fieldset>
          </div>
          <div class="card-footer yumm-form-actions">
            <input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
