{% load i18n jazzmin admin_urls %}
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end yumm-user-menu" id="jazzy-usermenu">
    <span class="dropdown-header">{% trans 'Account' %}</span>
    <div class="dropdown-divider"></div>
    <a href="{% url 'admin:password_change' %}" class="dropdown-item">
        <i class="fas fa-key yumm-menu-icon" aria-hidden="true"></i>
        <span>{% trans 'Change password' %}</span>
    </a>
    <div class="dropdown-divider"></div>
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit" class="dropdown-item">
            <i class="fas fa-sign-out-alt yumm-menu-icon" aria-hidden="true"></i>
            <span>{% translate 'Log out' %}</span>
        </button>
    </form>
    {% get_user_menu user request.current_app|default:"admin" as user_menu %}
    {% for link in user_menu %}
        <div class="dropdown-divider"></div>
        <a href="{{ link.url }}" class="dropdown-item" {% if link.new_window %}target="_blank"{% endif %}>
            <i class="{{ link.icon }} yumm-menu-icon" aria-hidden="true"></i>
            <span>{% trans link.name %}</span>
        </a>
    {% endfor %}
    {% if perms|can_view_self %}
        <div class="dropdown-divider"></div>
        <a href="{% jazzy_admin_url request.user request.current_app|default:"admin" %}" class="dropdown-item yumm-user-profile-link">
            <i class="fas fa-user yumm-menu-icon" aria-hidden="true"></i>
            <span>{% trans 'See Profile' %}</span>
        </a>
    {% endif %}
</div>
